.navbar {
  position: fixed;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-item: space-between;
  text-transform: uppercase;
  font-family: futura;
  color: rgba(246, 166, 35, 0.7);
  h2 {


  }
  h3 {
  width: 100%;
  letter-spacing: 16px;
  font-size: 10px;
  justify-content: flex-start;
  }
  .collections {
    display: flex;
    justify-content: center;
    align-item: space-between;
    text-align: center;
    .collection {

    }
  }
}

section {
  height:  100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width:60%;
    display: flex;
    flex-direction: row;
    .col-6 {
      width: 50%;
    }
    .col-12{
      width:100%;
    }
  }
}

.sakura {
  display: flex;
  position: fixed;
  height:  100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
  font-family: futura;
  letter-spacing: 16px;
  font-size: 270px;
  color: rgba(246, 166, 35, 0.7);
  text-transform: uppercase;
  }
}

@media screen and (max-width: 640px) {
  section {
  .wrapper {
    width:80%;
    flex-direction: column;
    .col-6 {
      width: 100%;
      }
    }
  }
}

