<div class="nav">

  <div class="logo">
    <h2>Sakura</h2>
  </div>

  <div class="collections">
    <a class="collection" href="">
      <h2>collection 2017</h2>
    </a>
    <a class="collection" href="">
      <h2>collection 2016</h2>
    </a>
    <a class="collection" href="">
      <h2>collection 2015</h2>
    </a>
  </div>

  <div class="link">
    <a href="#">
      <h2>Contactanos</h2>
    </a>
    <a href="#">
      <h2>Comprar</h2>
    </a>
  </div>

</div>

