  <div class="sakura">
    <h1>Sakura</h1>
  </div>

<section>
  <div class="wrapper">
    <div class="col-12">
      <img src="https://cdn.shopify.com/s/files/1/0482/1689/products/3_grande.jpeg?v=1504717013">
    </div>
  </div>
</section>

<section>
  <div class="wrapper">
    <div class="col-6">
      <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_t16d2e79c.jpg">
    </div>
    <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0482/1689/products/3_grande.jpeg?v=1504717013">
    </div>
  </div>
</section>

<section>
  <div class="wrapper">
    <div class="col-6">
      <img src="app/assets/images/locale/5.jpg">
    </div>
    <div class="col-6">
      <img src="">
    </div>
  </div>
</section>
