  <div class="sakura">
    <span class="letter" style="z-index: 1">S</span>
    <span class="letter" style="z-index: <%= [-1, 0, 1].sample %>">A</span>
    <span class="letter" style="z-index: <%= [-1, 0, 1].sample %>">K</span>
    <span class="letter" style="z-index: <%= [-1, 0, 1].sample %>">U</span>
    <span class="letter" style="z-index: <%= [-1, 0, 1].sample %>">R</span>
    <span class="letter" style="z-index: 3"">A</span>
  </div>

<div class="page" style="z-index: 0">

  <section>
    <div class="wrapper">
      <div class="col-12">
        <div class="foto">
          <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_tccdbf7e6.jpg">
        </div>
        <div>
          <p>Tacones con cuero y satines</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="col-6">
        <div class="foto">
          <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_t16d2e79c.jpg">
        </div>
        <div class="descripcion">
         <p>Trucos y otritas</p>
        </div>
      </div>
      <div class="col-6">
        <div class="foto">
          <img src="https://cdn.shopify.com/s/files/1/0482/1689/products/3_grande.jpeg?v=1504717013">
        </div>
        <div class="descripcion">
         <p>Starias con azulitas de hueco</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="col-6">
        <div class="foto">
          <img src="https://cdn.shopify.com/s/files/1/0767/9013/products/2_grande.jpg?v=1473828800">
        </div>
        <div class="descripcion">
         <p>Trucos y otritas</p>
        </div>
      </div>
      <div class="col-6">
        <div class="foto">
          <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_t16d2e79c.jpg">
        </div>
        <div class="descripcion">
         <p>Starias con azulitas de hueco</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="col-12">
        <div class="foto">
          <img src="http://cdn.oboxeditions.com/sites/prod/files/styles/gallery/public/photos/maya-poon-la-designer-et-entrepreneuse-derriere-meche-label-girl-crush-121-406018.png">
        </div>
        <div>
          <p>Tacones con cuero y satines</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="col-6">
        <div class="foto">
          <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_t16d2e79c.jpg">
        </div>
        <div class="descripcion">
         <p>Trucos y otritas</p>
        </div>
      </div>
      <div class="col-6">
        <div class="foto">
          <img src="https://cdn.shopify.com/s/files/1/0767/9013/products/DSC_2014_ab982083-35e0-44b0-bcef-9596052ba941.jpg?v=1499459751">
        </div>
        <div class="descripcion">
         <p>Starias con azulitas de hueco</p>
        </div>
      </div>
    </div>
  </section>
</div>

