<div class="saku_container">
  <div class="sakura">
    <span class="letter_black" style="z-index: -1;">S</span>
    <span class="letter_black" style="z-index: -1;">A</span>
    <span class="letter_black" style="z-index:  2;">K</span>
    <span class="letter_black" style="z-index: -1;">U</span>
    <span class="letter_black" style="z-index:  2;">R</span>
    <span class="letter_black" style="z-index: -1;">A</span>
  </div>
</div>

<div class="scroll">
  <div class="logotop_container">
    <div class="logotop">
      <h2>sakura</h2>
    </div>
  </div>

  <section>
    <div class="wrapper" style="z-index: 1;">
      <div class="col-6">
        <% @collections.each do |collection| %>
          <%= image_tag collection.picture %>
          <p><%= collection.name %></p>
        <% end %>
      </div>
    </div>
  </section>
</div>




