<div class="sakura_black">
  <img src="assets/logo_black.png" >
</div>


<div class="scroll">
  <div class="logotop">
    <h2>colecciones</h2>
  </div>
  <div class="collections">
    <% @collections.each do |collection| %>
      <section>
        <div class="wrapper">
          <%= link_to show_collection_path(collection) do %>
            <div class="col-12" style="z-index: 1;">
              <p><%= ("#{collection.name} #{collection.season} #{collection.year}")%></p>
              <%= image_tag collection.picture %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>
