<div class="saku_container">
  <div class="sakura">
    <span class="letter_black" style="z-index: -1;">S</span>
    <span class="letter_black" style="z-index: -1;">A</span>
    <span class="letter_black" style="z-index:  2;">K</span>
    <span class="letter_black" style="z-index: -1;">U</span>
    <span class="letter_black" style="z-index:  2;">R</span>
    <span class="letter_black" style="z-index: -1;">A</span>
  </div>
</div>
