<div class="sakura_black">
  <img src="/assets/logo_black.png" >
</div>


<div class="show_container">

  <div class="description">
    <h2><%= @photo.description %></h2>
  </div>

  <div class="col-12" style="z-index: 1;">
      <%= image_tag @photo.image %>
  </div>

</div>
