<div class="scroll">

  <div class="logotop_container">
    <div class="logotop">
      <h2>sakura</h2>
    </div>
  </div>

  <section>
    <div class="wrapper">
      <div class="col-12">
          <img src="https://598d5fcf392acad97538-395e64798090ee0a3a571e8c148d44f2.ssl.cf1.rackcdn.com/11405117_starting-over_tccdbf7e6.jpg" >
        <div class="foto" style="z-index: <%= [-1, 1].sample %>;">
        </div>
        <div>
          <p style="z-index: 1;">Tacones con cuero y satines</p>
        </div>
      </div>
    </div>
  </section>
</div>
