<div class="sakura_container">
  <div class="sakura_black">
    <img src="assets/logo_black.png" alt="Fat Sakura" style="z-index: -1;">
  </div>
</div>

<div class="scroll">
  <div class="logotop">
    <h2>coleccion <%= ("#{@collection.name} #{@collection.season} #{@collection.year}") %></h2>
  </div>

  <div class="photos">
    <% @photos.each do |photo| %>
      <section>
        <div class="wrapper">
          <%= link_to show_photo_path(photo) do %>
            <div class="col-12" >
              <%= image_tag photo.image %>
              <p><%= photo.description %></p>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>
