<div class="container_sakura">
    <img src="assets/logo_black.png" >
</div>

<div class="glitch">
  <div class="glitch_title" data-text="coleccion">
    <h2><%= ("#{@collection.name} #{@collection.season} #{@collection.year}")%></h2>
  </div>
</div>


<div class="container_collections">
  <div class="collections">
    <% @photos.each do |photo| %>
      <div class="collection" style="z-index: 1;">
        <%= link_to show_photo_path(photo) do %>
          <%= image_tag photo.image %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

