<div class="sakura_container">
  <h2 class="sakura_gold" style="z-index: 0;">SAKURA</h2>
</div>

<div class="scroll">
  <div class="logotop">
    <h2>sakura</h2>
  </div>

  <div class="photos">
    <% @photos.each do |photo| %>
      <section>
        <div class="wrapper">
          <div class=<%= ["col-6", "col-12"].sample %>" style="z-index: <%= [-1, 1].sample %>;">
            <%= image_tag photo.image %>
            <p><%= photo.description %></p>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>

