.nav {
  position: fixed;
  top:0; left:0;
  display: flex;
  width: 87%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: Futura;
  text-transform: uppercase;
  color: black;
  font-size: 8px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo {
    h2 {
      padding-left: 5px;
      text-align: left;
      letter-spacing: 5px;
    }
  }
  .collections {
    text-align: center;
    display: flex;
    justify-content: space-around;
    .collection {
    }
  }
  .link {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    h2 {
      height: 100%;
      margin-left: 10px;
      color: black;
      }
    }
  }
